<html>
<head>
    <meta charset="UTF-8" />
    <title>475440客户充值</title>
    <link rel="stylesheet" href="/static/layui/css/layui.css"  media="all">
    <link rel="icon" href="/static/img/buy-icon.png" type="image/x-icon"/>
    <meta http-equiv="refresh" content="600">
    <script src="/static/layui/layui.js" charset="utf-8"></script>
    <script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="http://code.highcharts.com/highcharts.js"></script>
</head>
<body>

<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
    <ul class="layui-nav layui-bg-green">
        <li class="layui-nav-item"><a href="">475440客户充值</a></li>
    </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item"><a>{{ user_name }}</a></li>
            <button type="button" class="layui-btn layui-btn-normal layui-btn-radius" ><a href="/verify_pay/logout">注销</a></button>
        </ul>

    </div>
</div>

<div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
  <ul class="layui-tab-title">
    <li class="layui-this" lay-id="1">待确认充值</li>
    <li lay-id="2">已确认充值</li>
      <li lay-id="5">已删除充值</li>
      <li lay-id="3">所有客户</li>
      <li lay-id="4">添加新客户</li>
  </ul>
  <div class="layui-tab-content" style="height: 100px;">
    <div class="layui-tab-item layui-show">
        <table class="layui-hide" id="wait_pay" lay-filter="wait_pay"></table>
    </div>
      <script type="text/html" id="barDemo">
            <a class="layui-btn layui-btn-xs" lay-event="top_up">确认充值</a>
            <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="del">删除</a>
      </script>
    <div class="layui-tab-item">
        <table class="layui-hide" id="payed" lay-filter="payed"></table>
    </div>
      <!--del-->
      <div class="layui-tab-item">
          <table class="layui-hide" id="deled" lay-filter="deled"></table>
      </div>
      <div class="layui-tab-item">
        <table class="layui-hide" id="all_account" lay-filter="all_account"></table>
          <script type="text/html" id="barDemo1">
            <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
            <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
          </script>
    </div>

      <div class="layui-tab-item">

          <div class="divForm">
        <form class="layui-form" lay-filter=""  enctype="multipart/form-data">
            <div class="layui-form-item">
                <label class="layui-form-label">姓   名</label>
                <div class="layui-input-inline">
                    <input type="text" name="name" required lay-verify="required" placeholder="客户姓名" autocomplete="off"
                           class="layui-input"  id="name">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">账   号</label>
                <div class="layui-input-inline">
                    <input type="text" id="username" name="username" required lay-verify="required" placeholder="客户登录账号" autocomplete="off"
                           class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">密   码</label>
                <div class="layui-input-inline">
                    <input type="text" id="password" name="password" placeholder="客户登录密码" required lay-verify="required" autocomplete="off"
                           class="layui-input">
                </div>
            </div>


            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button  class="layui-btn layui-btn-lg" lay-submit="" lay-filter="add_account" type="submit">确认</button>
                </div>
            </div>
        </form>
    </div>

  </div>
</div>
    </div>


<style type="text/css">
    .layui-table-cell{
	    text-align:center;
	    height: auto;
	    white-space: normal;
    }
</style>


<script language="JavaScript">



    layui.use(['laydate', 'laypage', 'layer', 'table', 'carousel', 'upload', 'element', 'slider', 'form'], function () {


        var laydate = layui.laydate //日期
            , laypage = layui.laypage //分页
            , layer = layui.layer //弹层
            , table = layui.table //表格
            , upload = layui.upload //上传
            , element = layui.element //元素操作
            , $ = layui.$
            , form = layui.form;



        $(".layui-tab-title li").click(function(){
            // var picTabNum = $(this).index();
            var picTabNum = $(this).attr('lay-id');
            sessionStorage.setItem("picTabNum",picTabNum);
            });
            $(function(){
                var getPicTabNum = sessionStorage.getItem("picTabNum");
                $(".layui-tab-title li").eq(Number(getPicTabNum)-1).addClass("layui-this").siblings().removeClass("layui-this");
                $(".layui-tab-content>div>div[id=test_table]>div>table").eq(Number(getPicTabNum)-1).addClass("layui-show").siblings().removeClass("layui-show");
            });

        var getPicTabNum = sessionStorage.getItem("picTabNum");


        element.tabChange('docDemoTabBrief', getPicTabNum);
        table.render({
            elem: '#all_account'
            , height: 'full-143'
            , cellMinWidth: '80'
            , url: '/verify_pay/all_account/' //数据接口
            , title: '已确认充值信息表'
            , limit: 20
            , toolbar: "r" //开启工具栏，此处显示默认图标，可以自定义模板，详见文档
            , totalRow: true //开启合计行
            , cols: [[ //表头
                {type:'numbers'}
                , {field: 'name', title: '用户名', align: 'center', totalRowText: '合计：'}
                , {field: 'username', title: '登录账号', align: 'center',}
                , {field: 'password', title: '登录密码', align: 'center', }
                , {fixed: 'right', width: 220, align: 'center', toolbar: '#barDemo1'}
            ]]
            , id: 'all_account'
            , page: true
        });

        table.on('tool(all_account)', function (obj) { //注：tool 是工具条事件名，test_all 是 table 原始容器的属性 lay-filter="对应的值"
            var data = obj.data //获得当前行数据
                , layEvent = obj.event; //获得 lay-event 对应的值

            if (layEvent === 'del'){

                layer.confirm('确认删除该用户信息?', function(index){
                    $.ajax({
                    type : 'GET',
                    url : '/verify_pay/del_account/?user_id='+data.user_id,
                    success : function(data) {
                        // 成功提示框
                        if (data.code == 0){
                            parent.layer.msg(data.msg, {
                            icon : 6,
                        },obj.del());

                        }else if(data.code == 502){
                            parent.layer.msg(data.msg, {
                            icon : 5
                        });
                        }

                    },
                    error : function(data) {
                        // 异常提示
                        parent.layer.msg('出现网络故障', {
                            icon : 5
                        });
                        parent.layer.closeAll('iframe'); //关闭弹框
                    }
                });
                })

            } else if (layEvent === 'edit') {
                layui.layer.open({
                    title: '确认客户为 [ ' + data.name + ' ] 的充值信息',
                    type: 2,
                    anim: 3,
                    area: ['340px', '340px'],//宽高
                    shadeClose: true, //点击遮罩关闭
                    content: '/verify_pay/edit_acc/?user_id=' + data.user_id,
                    success: function(layer, index) {
                        var body = layer.getChildFrame('body', index);
                    },
                    end: function () {
                        location.reload()
                    }
                });
                return false
            }
        });


        //执行一个 table 实例
        table.render({
            elem: '#wait_pay'
            , height: ''
            , url: '/verify_pay/pay_log/?status=待充值' //数据接口
            , title: '待确认充值信息表'
            , limit:20
            , toolbar: "r" //开启工具栏，此处显示默认图标，可以自定义模板，详见文档
            , totalRow: true //开启合计行
            , cols: [[ //表头
                {type:'numbers'}
                , {field: 'cus_name', title: '客户', align: 'center', totalRowText: '合计：'}
                , {field: 'pay_time', title: '下单时间', align: 'center',}
                , {field: 'top_money', title: '充值金额', align: 'center', }
                , {field: 'pay_money', title: '折合金额', align: 'center', }
                , {field: 'status', title: '充值状态', align: 'center', }
                , {field: 'url', title: '收款码', width:'20%', align: 'center',templet: function (res) {
                            return '<div><img src="' + res.url + '"></div>'
                        }}
                , {field: 'bank_msg', title: '银行卡信息', align: 'center', }
                , {fixed: 'right', width: 220, align: 'center', toolbar: '#barDemo'}
            ]]
            , id: 'wait_pay'
            , page: true
        });

        //执行一个 table 实例
        table.render({
            elem: '#deled'
            , height: 'full-143'
            , cellMinWidth: '80'
            , url: '/verify_pay/del_log/?status=已删除' //数据接口
            , title: '已确认充值信息表'
            , limit: 20
            , toolbar: "r" //开启工具栏，此处显示默认图标，可以自定义模板，详见文档
            , totalRow: true //开启合计行
            , cols: [[ //表头
                {type:'numbers'}
                , {field: 'cus_name', title: '客户', align: 'center', totalRowText: '合计：'}
                , {field: 'pay_time', title: '下单时间', align: 'center',}
                , {field: 'top_money', title: '充值金额', align: 'center', }
                , {field: 'pay_money', title: '折合金额', align: 'center', }
                , {field: 'status', title: '充值状态', align: 'center', }
                , {field: 'url', title: '收款码', width:'20%', align: 'center',templet: function (res) {
                            return '<div><img src="' + res.url + '"></div>'
                        }}
                , {field: 'bank_msg', title: '银行卡信息', align: 'center', }
                //, {fixed: 'right', width: 220, align: 'center', toolbar: '#barDemo'}
            ]]
            , id: 'deled'
            , page: true
        });

        //执行一个 table 实例
        table.render({
            elem: '#payed'
            , height: 'full-143'
            , cellMinWidth: '80'
            , url: '/verify_pay/pay_log/?status=已充值' //数据接口
            , title: '已确认充值信息表'
            , limit: 20
            , toolbar: "r" //开启工具栏，此处显示默认图标，可以自定义模板，详见文档
            , totalRow: true //开启合计行
            , cols: [[ //表头
                {type:'numbers'}
                , {field: 'cus_name', title: '客户', align: 'center', totalRowText: '合计：'}
                , {field: 'pay_time', title: '下单时间', align: 'center',}
                , {field: 'top_money', title: '充值金额', align: 'center', }
                , {field: 'before_balance', title: '充值前金额', align: 'center',style:'color: #CD3700' }
                , {field: 'balance', title: '充值后金额', align: 'center', style:'color: #8B0A50'}
                , {field: 'sum_balance', title: '总充值金额', align: 'center', style:'color: #00868B' }
                , {field: 'pay_money', title: '折合金额', align: 'center', }
                , {field: 'status', title: '充值状态', align: 'center', }
                , {field: 'url', title: '收款码', width:'20%', align: 'center',templet: function (res) {
                            return '<div><img src="' + res.url + '"></div>'
                        }}
                , {field: 'bank_msg', title: '银行卡信息', align: 'center', }
                , {field: 'ver_time', title: '确认时间', align: 'center', }
            ]]
            , id: 'payed'
            , page: true
        });

        //监听行工具事件
        table.on('tool(wait_pay)', function (obj) { //注：tool 是工具条事件名，test_all 是 table 原始容器的属性 lay-filter="对应的值"
            var data = obj.data //获得当前行数据
                , layEvent = obj.event; //获得 lay-event 对应的值

            if (layEvent === 'del'){

                layer.confirm('确认删除该充值信息?', function(index){

                    data_info = {data: JSON.stringify({user_name:data.cus_name,pay_time:data.pay_time})};
                    $.ajax({
                    type : 'POST',
                    url : '/verify_pay/del_pay/',
                    data : data_info,
                    dataType : 'json',
                    success : function(data) {
                        // 成功提示框
                        if (data.code == 0){
                            parent.layer.msg(data.msg, {
                            icon : 6,
                        },obj.del());

                        }else if(data.code == 502){
                            parent.layer.msg(data.msg, {
                            icon : 5
                        });
                        }

                    },
                    error : function(data) {
                        // 异常提示
                        parent.layer.msg('出现网络故障', {
                            icon : 5
                        });
                        parent.layer.closeAll('iframe'); //关闭弹框
                    }
                });
                })

            } else if (layEvent === 'top_up') {
                layui.layer.open({
                    title: '确认客户为 [ ' + data.cus_name + ' ] 的充值信息',
                    type: 2,
                    anim: 3,
                    area: ['400px', '330px'],//宽高
                    shadeClose: true, //点击遮罩关闭
                    content: '/verify_pay/top_up/?pay_time='+ data.pay_time + "&cus_name=" + data.cus_name + "&bank_msg=" + data.bank_msg,
                    success: function(layer, index) {
                        var body = layer.getChildFrame('body', index);
                    },
                    end: function () {
                        location.reload()
                    }
                });
                return false
            }
        });

        form.on('submit(add_account)', function(data){
            var data_info = {data:JSON.stringify(data.field)};
            var $ = layui.jquery;
            $.ajax({
				type : 'POST',
				url : '/verify_pay/add_account/',
				data : data_info,
				dataType : 'json',
				success : function(data) {
					// 成功提示框
                    if (data.code == 0){
                        parent.layer.msg(data.msg, {
						icon : 6,
					});

                    }else if(data.code == 502){
                        parent.layer.msg(data.msg, {
						icon : 5
					});
                    }

				},
				error : function(data) {
					// 异常提示
					parent.layer.msg('出现网络故障', {
						icon : 5
					});
					parent.layer.closeAll('iframe'); //关闭弹框
				}
			});
			return false;
            });

    })




</script>

</body>
</html>
