<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>

<body  class="fixed-sidebar full-height-layout gray-bg" >
    <div class="modal-body">
    </div>
        <div>
            <div class="col-lg-12">
                <p style="line-height: 20px; font-size: 25px" >
                    <span style="color: rgb(148,17,36);">网络繁忙, 请稍后再试</span>
                    <div style="padding-top: 20px; font-size: 18px; color: #007DDB">

                </p>
            </div>
        </div>

</body>
</html>